* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {

    --primary-color: #08A6E4;
    --primary-shadow-color: rgba(7, 172, 230, .16);

    --color-redish: #fb3b64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --raleway-font: "Raleway", sans-serif;
    --opensans-font: "Open Sans", sans-serif;

}

.container {

    max-width: 1352px;
    margin: 0 auto;

}

.header {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
}

 nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header__nav {
    display: flex;
    gap: 50px;
    
 }

 .header__logo {

    color: var(--primary-color);
    font-family: var(--raleway-font);
    font-size: 2rem;
    line-height: 37px;
    font-weight: 300;

 }
/*
 .header__item {
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
 }
*/
 .header__item a {

    color: var(--color-grey);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    font-family: var(--opensans-font);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
 }

 .header__item a:hover {

    color: var(--color-black);
    border-bottom: 4px solid var(--primary-color);

 }

 .header__item a:focus {
    outline: none;
 }