* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {

    --primary-color: #08A6E4;
    --primary-shadow-color: rgba(7, 172, 230, .16);

    --color-redish: #fb3b64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --raleway-font: "Raleway", sans-serif;
    --opensans-font: "Open Sans", sans-serif;

}

.container {

    max-width: 1352px;
    margin: 0 auto;

}

/* HEADER SECTION*/

.header {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
}

 nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header__nav {
    display: flex;
    gap: 50px;
    
 }


 .header__logo {
 
    font-family: var(--raleway-font);
    font-size: 2rem;
    line-height: 37px;
    font-weight: 300;

 }

 .header__logo a {
    text-decoration: none;
    color: var(--primary-color);
 }

 .header__logo a:focus {

    outline: none;
 }


 .header__item a {

    color: var(--color-grey);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    font-family: var(--opensans-font);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;


    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
 }

 .header__item a:hover {
    color: var(--color-black);

 }

 .header__item a:focus {
    outline: none;
 }


 .header__item a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    bottom: 0px;
    left: 0px;
 }


 /*BANNER SECTION*/

 .banner {

    height: 80vh;
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
 }

 .banner__card {

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 130px;
 }

 .banner__title {

    color: var(--color-black);
    font-family: var(--raleway-font);
    font-size: 49px;
    line-height: 57px;
 }

 .banner__text {

    color: var(--color-black);
    font-family: var(--opensans-font);
    font-size: 1rem;
    line-height: 22px;
    margin-top: 20px;
 }

 .banner__btn {
    align-self: center;
    margin-top: 38px;
    background-color: var(--primary-color);
    padding: 22px 157px 23px 157px;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--primary-shadow-color);
 }

 .banner__btn a {

    color: var(--color-white);
    font-family: var(--opensans-font);
    font-weight: bold;
    font-size: 1rem;
    line-height: 22px;
    text-decoration: none;
 }

 .banner__btn a:focus {

    outline: none;
 }


/*STATISTICS SECTION*/

.statistics {
    height: 50vh;
}

.statistics__title {

    font-size: 36px;
    line-height: 42px;
    font-family: var(--raleway-font);
    color: var(--color-black);
    text-align: center;
    margin-top: 100px;
}

.statistics__columns {
    display: flex;
    justify-content: space-between;
}

.statistics__col {

    width: 33.3%;
    text-align: center;

}

.statistics__col1__icon {

    background-color: var(--color-redish);
    text-align: center;
    border-radius: 50%;
}

.statistics__col__img1{
    position: relative;
    height: 62.71px;
    width: 62.71px;
    margin: 0 auto;
    background-color: var(--color-redish);
    border-radius: 50%;
}

.statistics__col__img1::after {

    position: absolute;
    content: "";
    background-image: url(../assets/Person.svg);
    height: 52px;
    width: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-10%,-50%);
    background-size: contain;
    background-repeat: no-repeat;
}

.statistics__col__img2{
    position: relative;
    height: 62.71px;
    width: 62.71px;
    margin: 0 auto;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.statistics__col__img2::after {

    position: absolute;
    content: "";
    background-image: url(../assets/Eye.svg);
    height: 36.5px;
    width: 65.43px;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-50%);
    background-size: contain;
    background-repeat: no-repeat;
}

.statistics__col__img3{
    position: relative;
    height: 62.71px;
    width: 62.71px;
    margin: 0 auto;
    background-color: var(--color-green);
    border-radius: 50%;
}

.statistics__col__img3::after {

    position: absolute;
    content: "";
    background-image: url(../assets/Catalog.svg);
    height: 48px;
    width: 52px;
    top: 50%;
    left: 50%;
    transform: translate(0%,-50%);
    background-size: contain;
    background-repeat: no-repeat;
}


.statistics__col__text1 {

    font-family: var(--raleway-font);
    font-weight: 800;
    color: var(--color-black);
    font-size: 20px;
    line-height: 24px;
    margin-top: 14.18px;
    letter-spacing: 5.96px;
}

.statistics__col__text2 {

    font-family: var(--raleway-font);
    font-size: 17px;
    line-height: 20px;
    color: var(--color-grey);
    margin-top: 19.11px;
}

.statistics__columns {

    margin-top: 100px;
}

/*BENEFITS SECTION*/

.benefits{

    height: 100vh;
    background-color: var(--color-light-grey);
    padding-top: 105px;
}

.benefits__card {

    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background-color: var(--color-white);
    height: 370px;
    display: flex;
    justify-content: space-between;
}

.card__title {
    
    font-family: var(--raleway-font);
    font-size: 2.25rem;
    line-height: 2.63rem;
    color: var(--color-black);

}

.card__p {

    font-family: var(--opensans-font);
    font-size: 1rem;
    line-height: 1.38rem;
    color: var(--color-black);
    margin-top: 30px;

}

.card__underline {

    content:"";
    height: 4px;
    width: 50%;
    background-color: var(--color-redish);
    margin-top: 50px;
}

.card__img {

    background-image: url(../assets/Macbook.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 386px;
    height: 219px;
    transform: translate(0%, 20%);
    position: relative;
    z-index: 1;

}

.benefits__card__text {

    align-self: center;
    margin-left: 35px;

    width: 50%;
}

.card__decoration {

    content:"";
    height: 180px;
    width: 180px;
    background-color: var(--color-redish);
    border-radius: 41px;
    position: absolute;
    transform: translate(70%, 0%) rotate(45deg);
    z-index: 0;
}

.benefits__card__img {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

