* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {

    --primary-color: #08A6E4;
    --primary-shadow-color: rgba(7, 172, 230, .16);

    --color-redish: #fb3b64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --raleway-font: "Raleway", sans-serif;
    --opensans-font: "Open Sans", sans-serif;

}

.container {

    max-width: 1352px;
    margin: 0 auto;

}

/* HEADER SECTION*/

.header {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
}

 nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header__nav {
    display: flex;
    gap: 50px;
    
 }


 .header__logo {
 
    font-family: var(--raleway-font);
    font-size: 2rem;
    line-height: 37px;
    font-weight: 300;

 }

 .header__logo a {
    text-decoration: none;
    color: var(--primary-color);
 }

 .header__logo a:focus {

    outline: none;
 }


 .header__item a {

    color: var(--color-grey);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    font-family: var(--opensans-font);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;


    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
 }

 .header__item a:hover {
    color: var(--color-black);

 }

 .header__item a:focus {
    outline: none;
 }

 .header__item a::after {

    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    bottom: 0px;
    left: 0px;
    transform: scaleX(0);
 }

 .header__item a:hover::after {
    transform: scaleX(1);
 }


 /*BANNER SECTION*/

 .banner {

    height: 100vh;
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
 }

 .banner__card {

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 130px;
 }

 .banner__title {

    color: var(--color-black);
    font-family: var(--raleway-font);
    font-size: 49px;
    line-height: 57px;
 }

 .banner__text {

    color: var(--color-black);
    font-family: var(--opensans-font);
    font-size: 1rem;
    line-height: 22px;
    margin-top: 20px;
 }

 .banner__btn {
    align-self: center;
    margin-top: 38px;
    background-color: var(--primary-color);
    padding: 22px 157px 23px 157px;
    border: none;
    border-radius: 40px;

 }

 .banner__btn a {

    color: var(--color-white);
    font-family: var(--opensans-font);
    font-weight: bold;
    font-size: 1rem;
    line-height: 22px;
    text-decoration: none;
 }

 .banner__btn a:focus {

    outline: none;
 }
